@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(75 85 99);
}

.scrollable-div::-webkit-scrollbar {
    width: 0.75rem; 
    background-color: transparent;
}

.scrollable-div::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 6px;
    border: 3px solid transparent;
}